<div class="wrapper">
  <nav class="col"
    cdkDropList
    #usersList="cdkDropList"
    [cdkDropListData]="users"
    [cdkDropListConnectedTo]="[selectedUsersList]"
    (cdkDropListDropped)="drop($event)"
  >
    <h3 class="text-center text-underline">Candidatos</h3>
    <button class="dragable"
      mat-raised-button
      color="primary"
      cdkDrag
      *ngFor="let user of users"
      (click)="focusUser(user)"
    >{{ user.email }}</button>
  </nav>
  <main>
    <h1>Formulário Classificatório</h1>
    <div class="question" *ngFor="let response of focusedUser?.responses">
      <h2>{{ response.question }}</h2>
      <p>{{ response.response }}</p>
      <mat-divider></mat-divider>
    </div>
    <button class="select-user"
      mat-fab
      [color]="userIsSelected(focusedUser) ? 'warn' : 'accent'"
      aria-label="Select user"
      [disabled]="!focusedUser"
      (click)="toggleUser(focusedUser)"
    >
      <mat-icon>{{ userIsSelected(focusedUser) ? 'person_remove' : 'person_add' }}</mat-icon>
    </button>
  </main>
  <aside class="col">
    <h3 class="text-center text-underline">Selecionados</h3>
    <div class="col"
      cdkDropList
      #selectedUsersList="cdkDropList"
      [cdkDropListData]="selectedUsers"
      [cdkDropListConnectedTo]="[usersList]"
      (cdkDropListDropped)="drop($event)"
    >
      <button
        mat-raised-button
        *ngFor="let user of selectedUsers"
        cdkDrag
        (click)="focusUser(user)"
      >{{ user.email }}</button>
    </div>
    <button mat-raised-button color="primary" [disabled]="selectedUsers.length === 0">Inserir</button>
  </aside>
</div>
